@import "node_modules/ol/ol.css";

/* 전역적 스타일 정의 */
* {
  margin: 0;
  padding: 0;
  font-family:"Noto Sans KR";
  font-size: 1.015em;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* 주요 레이아웃 정의 */


#contents {
  position: absolute;
  top: 0;
  /* bottom: 20px; */
  left: 0;
  right: 0;
  position:fixed;
}

/* DIV영역 여러개를 나란히 놓으려면, float 속성을 이용 */

#menu2 {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 1px solid #4b4848;
  padding: 10px;
  z-index:5;
  position:fixed;
  background:#ffffff;
}

#mapArea {
  position: absolute;
  height: 100%;
  left:21%;
  top: 0;
  right: 0;
  bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
  position:fixed;
}

/* 헤더 부분 스타일 설정 */
.topDecal {
  background: #175381;
  height: 15px;
  width: 100%;
}



/* menuContents 부분 중에서 목록(ul) 부분 스타일 설정 */
*/ ul.campsiteList {
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  z-index:3;
  position:fixed;
}

ul.campsiteList li {
  list-style: none;
  border-top: 1px solid #fff;
  padding: 1px 20px;
  cursor: pointer;
}

ul.campsiteList li:first-child {
  border-top: none;
  /* 첫번째는 예외 */
}

ul.campsiteList li:hover {
  background: #0f3a63;
  color: #fff;
}

ul.campsiteList li:hover,
ul.campsiteList li:hover {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}




/* (info 스타일 추가) */
#info {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}

#popup {
  width: 400px;
  height: 430px;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(168, 229, 252);
}

/* *메뉴바 생성*/
input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;width:30px;height:20px;position:fixed; top:calc(50%); left:21%; transition:all .35s; cursor:pointer; z-index:2;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#000000;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
/* input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}  */
/* input[id="menuicon"] + label span:nth-child(3) {bottom:0;} */
input[id="menuicon"]:checked + label {z-index:2; left:34%; transform:rotate(180deg);}
input[id="menuicon"]:checked + label span {background:#000000;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform: rotate(180deg);}
/* input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);} */


div[class="sidebar"] {width:235px;height:100%;background:#ffffff;position:fixed;top:0%;left:0px;z-index:2;transition:all .1000s; margin: 15px 0; padding: 10px;}
input[id="menuicon"]:checked + label + div {left:21%;}

ul.sideinfo {
  background: #efefef;
  border: 2px solid rgb(0,152,129);
  border-radius: 13px;
  margin: 15px 0;
  padding: 10px;
}

#insidebar {
  text-align: center;
  font-size: 1.3rem;
  /* 위 오른 아래 왼쪽 */
  margin: 10px 0px 10px 0px;
}